p{
	white-space: pre-line;
	padding: 10px;
	background-color: #e6e9ed;
}

#myDIV{
	margin: 10px 0px;
	padding: 10px;
	background-color: #e6e9ed;
}

code{
	white-space: pre-line;
	background-color: #d2e2f7;
}

button{
	display: flex;
  align-items: center;
  justify-content: center;
}